<p>post-lists works!</p>
<!-- can give in condition in this format even -->
<!-- <table*ngIf="posts |  async as postsData"></table> -->
<div>
    <button [routerLink]="['/post-lists/add-post']">Add Post</button>
</div>
<table *ngIf="posts">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let post of posts"> 
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td><a href="" clas="btn btn-primary" [routerLink]="['edit-post', post.id]">Update</a></td>
                <td><button type="submit" (click)="onDeletePost(post.id)">Delete</button></td>
            </tr>
        </tbody>
    
</table>

<div>
    <router-outlet></router-outlet>
</div>